.button {
    -fx-background-color: #e8a23c;
    -fx-text-fill: #1e1e1e;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2);
}

.Pannello {
    -fx-background-color: white;
    -fx-text-fill: #1e1e1e;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2);
}

.PannelloNav {
    -fx-background-color: #2a5298;
    -fx-text-fill: #1e1e1e;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2);
}
