#NavBar {
    -fx-background-color: #2a5298;
}

.signin-container {
    -fx-background-color: rgba(255, 255, 255, 0.95);
    -fx-padding: 10;
}

.signin-container2 {
    -fx-background-color: rgba(255, 255, 255, 0.95);
    -fx-padding: 10;
    -fx-background-radius: 10 0 0 10; /* Sopra e destra spigolosi, sotto e sinistra arrotondati */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 4);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, -4); /* Sposta l'ombra verso sinistra */
}


