.button {
    -fx-background-color: #e8a23c;
    -fx-text-fill: #1e1e1e;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2);
}

.button2 {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2);
}

.Tbutton {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-color: transparent;
    -fx-text-fill: white;
}

.buttonAdd {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2);
}


.Pannello {
    -fx-background-color: white;
    -fx-text-fill: #1e1e1e;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2);
}

.PannelloNav {
    -fx-background-color: #2a5298;
    -fx-text-fill: #1e1e1e;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 4, 0, 2, 2);
}


.transparent-blur {
    -fx-background-color: rgba(255, 255, 255, 0.2); /* Trasparente */
    -fx-background-radius: 10; /* Bordo arrotondato */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0);
}

